*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}


/* HEADER */
header{
    background-color: rgb(243, 95, 95);
    height: 70px;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.box-header{
    width: calc(100% / 3);
    border: 1px solid;
    background-color: rgb(240, 240, 94);
}

.right{
    text-align: right;
}

.central{
    background-color: rgb(243, 95, 95);
}

/* HERO */
.background-hero{
    background-color: rgb(150, 240, 235);
    height: 600px;
    width: 100%;
    display: flex;
    justify-content:center;
}
.box-hero{
    height: 500px;
    width: 60%;
    background-color: rgb(237, 191, 107);
    margin-bottom: 0;
    margin-top: auto;
}

/* CONTAINER */
.container{
    width: 60%;
    margin: auto;
    padding: 100px;
    display: flex;
    justify-content: center;
}

/* FIRST SECTION */
.column{
    width: 50%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.row{
    width: 100%;
    background-color: rgb(155, 72, 155);
    height: 150px;
    margin-bottom: 10px;
}

.col{
    width: calc(100% / 3 - 5px);
    height: 700px;
    background-color: rgb(193, 189, 189);
}
.last{
    margin-top: 10px;
    height: 200px;
}


